@mixin flexbox($direction, $wrap, $justify, $align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin footer-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

@mixin fontbi {
    font-weight: bold;
    font-style: italic;
}

@mixin inicio {

    margin-left: 50px;
    font-size: 3rem;
    padding: 3px;
    border-radius: 15px;
}


@mixin btn-audio {
    background-color: gainsboro;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    transition: all 0.2s;
    cursor: pointer;
    color:black;
    border:gainsboro;
}