#footerindex {
  background-color: black;
  color: white;
  grid-area:footer;
  display: grid;
  grid-template-rows:  2fr , 1fr;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-areas: 
    "logo redes contacto"
    "copy copy copy"
     ;

   .logo-footer{
    @include flexbox (column ,norawp , center , center);
    grid-area:logo;
      font-size: 1.5rem;
      @include fontbi; 
     .img-logof{
      height: 150px; 
      width: 350px;
    }
   }

.redes-footer{
  grid-area: redes;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  .titulo-redes{
     font-size: 1.5rem;
    padding-left: 50px;
  }
  img {
     width:60px;
     height:40px;
  }
}

.contacto-footer {
  grid-area: contacto;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  .titulo-contacto {
    font-size: 1.5rem;
  }
 
}

.copy-footer{
  grid-area: copy;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  font-size: 1rem;
}

}