#footerindex {
  grid-area:footer;
  display: grid;
  grid-template-rows: 2fr , 1fr;
  grid-template-columns: repeat(4 ,1fr);
  grid-template-areas: 
    "logo reproducir redes contacto"
    "copy copy copy copy"
     ;
    
.logo-footer{
  display: flex;
  img{
    height:200px;
    width:500px;
    padding-left: 150px;
  }
}

   .reproducir-footer{
    grid-area: reproducir;
    @include flexbox (row ,norawp , center , center);
    @include fontbi;
    .titulo-reproducir {
      font-size: 1.5rem;
    }
    li{
      font-size: 1.2rem;
    }
   }

.redes-footer{
  grid-area: redes;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  .titulo-redes{
     font-size: 1.5rem;
    padding-left: 50px;
  }
  img {
     width:60px;
     height:40px;
  }
}

.contacto-footer {
  grid-area: contacto;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  .titulo-contacto {
    font-size: 1.5rem;
  }
  li{
    font-size: 1.2rem;
  }
}

.copy-footer{
  grid-area: copy;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  font-size: 1.2rem;
}
.volver-arriba{
    @include fontbi;
    font-size: 1.2rem;
    padding-left: 10px;
  }
}