#footerindex {
  grid-area:footer;
  display: grid;
  grid-template-rows:  2fr , 1fr;
  grid-template-columns: repeat(3 ,1fr);
  grid-template-areas: 
    "reproducir redes contacto"
    "copy copy copy"
     ;

   .reproducir-footer{
    grid-area: reproducir;
    @include flexbox (row ,norawp , center , center);
    @include fontbi;
    .titulo-reproducir {
      font-size: 1.8rem;
    }
    li{
      color: white;
      font-size: 1.5rem;
      &:hover{
        color:yellow;
      }
    }
   }

.redes-footer{
  grid-area: redes;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  .titulo-redes{
     font-size: 1.8rem;
    padding-left: 50px;
  }
  img {
     width:70px;
     height:50px;
  }
}

.contacto-footer {
  grid-area: contacto;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  .titulo-contacto {
    font-size: 1.8rem;
  }
  li{
    font-size: 1.5rem;
  }
}

.copy-footer{
  grid-area: copy;
  @include flexbox (row ,norawp , center , center);
  @include fontbi;
  font-size: 1.5rem;
}

}