#headerindex{
  background-color:#C4FFF9;
  grid-area:header;
  padding: 0%;
  .topbar div{
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    background-color: black;
    color: wheat;
     display: flex;
     justify-content: space-between;
     p{
      margin: 10px 30px 10px 30px;
     }
     .top-nav-contacto p {
     margin: 10px 20px 10px 20px;
     }
  }
  div{
      #logo{
          padding: 10px;
          padding-left: 150px;
            a{
            #logoimg{
              height: 100px; 
              width: 200px;
              }
            }
         }
      }
      
      a{
          font-size: 1.2rem;
          font-style: italic;
          font-weight: bold;
      }

      nav {
        a{
          color:black;
          border-radius: 10px;
        }
      }
       
    
  }