#headerindex{
  background-color:whitesmoke;
  grid-area:header;
  div{
      #logo{
          padding: 10px;
          padding-left: 150px;
            a{
            #logoimg{
              height: 100px; 
              width: 200px;
              }
            }
         }
      }
      
      a{
          font-size: 1.2rem;
          font-style: italic;
          font-weight: bold;
      }

      nav {
        a{
          color:black;
          border-radius: 10px;
        }
      }
       
    
  }