#headerindex{
  background-color:black;
  grid-area:header;
  div{
      #logo{
          padding: 10px;
          padding-left: 150px;
            a{
            #logoimg{
              height: 150px; 
              width: 350px;
              }
            }
         }
      }
      
      nav {
        a{
          font-size: 1.2rem;
          @include fontbi;
          color:white;
          border-radius: 10px;
          &:hover{
            color:goldenrod;
          }
        }
      }
       
    
  }