#mainindex  {
    background-color: darkcyan;
    grid-area:main;
    display: grid;
    grid-template-rows: 2fr ,1fr , 1.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "seccionUno"
    "seccionDos " 
    "seccionTres" ;



    
   }